.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.questionField{
  background-color: #fff;
  margin: 100px;
}

.quiz-title {
  font-size: 24px;
}

.questionText {
  font-size: 54px;
}

.resultReveal {
  background: #ffffffe6;
  margin: 100px;
}

.result-prompt {
  font-size: 54px;
}

.final-result {
  font-size: 88px;
  margin-bottom: 32px;
  text-decoration: underline;
}

.save-button {
  font-size: 24px;
  background: none;
  border: solid;
  color: #d92d3e;
  border-width: 1px;
  border-radius: 6px;
}

.save-button:hover {
  background-color: #d92d3e;
  color: #fff;
}

.answer-options {
  font-size: 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */
@media screen and (max-width: 726px) {
  .row {
    display: flex;
    flex-direction: column;
    margin: 4px;
    align-items: center;
    justify-content: space-evenly;
  }

  .questionField{
    background-color: #fff;
    margin: 0;
  }

  .questionText {
    font-size: 34px;
  }

  .answer-options {
    font-size: 16px;
  }
} 

@media screen and (max-width: 526px) {
  .row {
    display: flex;
    flex-direction: column;
    margin: 8px;
    align-items: center;
    justify-content: space-evenly;
  }

  .questionField{
    background-color: #fff;
    margin: 0;
  }

  .questionText {
    font-size: 34px;
  }

  .answer-options {
    font-size: 16px;
  }
}
