.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
 min-height: 415px;
 margin-bottom: 20px;
}

.category-page-header {
  font-size: 88px;
  margin: 32px;
  text-align: center;
  background: #ffffffe6;
}

.quiz-list {
  padding: 0;
  font-size: 24px;
  text-align: center;
  list-style: none;
  background: #ffffffe6;
}

.quiz-list-button {
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #106efc;
  padding: 8px;
}

.quiz-list-button:hover {
  color: #fff;
  background-color: #106efc;
  text-decoration: none;
}

.card-text {
  min-height: 110px;
}

.questionField{
  background-color: #ffffffd9;
  margin: 100px;
  text-align: center;
  min-height: 250px;
}

.quiz-title {
  font-size: 24px;
}

.questionText {
  font-size: 54px;
}

.result-reveal {
  background: #ffffffe6;
  margin: 100px;
  text-align: center;
}

.result-prompt {
  font-size: 54px;
}

.final-result {
  font-size: 88px;
  margin-bottom: 32px;
  text-decoration: underline;
}

.past-results {
  background: #ffffffe6;
}

.results-page-header{
  margin: 34px;
  font-size: 54px;
  text-align: center;
}

.user-results {
  display: flex;
  justify-content: center;
}

.results-table {
  background: #ffffffe6;
  text-align: center;
}

.results-table-header {
  font-size: 32px; 
}

.save-button {
  font-size: 24px;
  background: none;
  border: solid;
  color: #d92d3e;
  border-width: 1px;
  border-radius: 6px;
}

.save-button:hover {
  background-color: #d92d3e;
  color: #fff;
}

.answer-field {
  display: flex;
  justify-content: center;
}

.answer-options {
  font-size: 24px;
  max-width: 500px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */
@media screen and (max-width: 726px) {
  .row {
    display: flex;
    flex-direction: column;
    margin: 4px;
    align-items: center;
    justify-content: space-evenly;
  }

  .questionField{
    background-color: #fff;
    margin: 0;
  }

  .questionText {
    font-size: 34px;
  }

  .answer-options {
    font-size: 16px;
  }
} 

@media screen and (max-width: 526px) {
  .row {
    display: flex;
    flex-direction: column;
    margin: 8px;
    align-items: center;
    justify-content: space-evenly;
  }

  .home-card, .profile-card {
    min-width: 320px;
  }

  .questionField{
    background-color: #fff;
    margin: 0;
  }

  .questionText {
    font-size: 34px;
  }

  .answer-options {
    font-size: 16px;
  }
  
  .results-table-header {
    font-size: 24px; 
  }
  
  .result-reveal {
    background: #ffffffe6;
    margin: 50px;
    text-align: center;
  }

  .result-prompt {
    font-size: 24px;
  }
  
  .final-result {
    font-size: 34px;
    margin-bottom: 32px;
    text-decoration: underline;
  }
}
