body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Media Queries
@media screen and (max-width: 726px) {
  .container {
    display: flex;

    grid-gap: 4px;
    margin: 4px;
    justify-items: center;
    justify-content: center;
  }
} 

@media screen and (max-width: 526px) {
  .container {
    display: flex;
    margin: 8px;
    justify-items: center;
    justify-content: center;
  }
} */