

section {
  margin: 0;
  padding: 12px
}

.infoField {
  background-color: #ffffffd9;
}

.info {
  font-size: 48px;
  min-height: 300px;
}

.arrowButtons {
  display: flex;
  justify-content: space-around;
}
 .forwardArrow,
 .backwardArrow {
  border: none;
  background: none;
 }

.sample {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.sampleButton {
  font-size: 24px;
  border-radius: 6px;
  border-style: solid;
  padding: 8px;
  text-decoration: none;
}

.sampleButton:hover {
  text-decoration: none;
  background-color:  #1575fc;
  color: white;
}

@media only screen and (max-width: 600px) {
  .info {
    font-size: 26px;
    min-height: 300px;
  }
}